<h1>HI ANGULAR I LOVE YOU</h1>
<p>{{todos()}}</p>
<div class="p-3" >
  <input type="text" [(ngModel)]="newtodo">
<button (click)="addTodo()">Add TODO</button>
<div>
  <input type="radio" [(ngModel)]="fil" value ="all">:All
  <input type="radio" [(ngModel)]="fil" value ="done">:Done
  <input type="radio" [(ngModel)]="fil" value ="not done">:Not Done
</div>
<ul>
  @for(todo of todos() | tfilter:fil(); track todo; let i = $index){
    <app-todo [todo]= "todo" [i]="i" (deleteTodo)="deleteTodo(i)" (notifyToggle)="toggleStatus(i)"></app-todo>
    <!-- <li class ="border p-2 m-2">
      <span [style.textDecoration]="todo.status?'line-through':''">{{todo.title}}</span>
      @if(todo.status){
      <button class="btn btn-info mx-2" (click)="toggleStatus(i)">Done</button>

      }
      @else {
      <button class="btn btn-warning mx-2" (click)="toggleStatus(i)">Undo</button>
      }
      <button (click)="deleteTodo(i)" class="btn btn-danger mx-2">Delete</button>
    </li> -->
  }
</ul>
</div>